<div class="well">
  <% if @suites.any? %>
    <table class="table table-striped table-bordered datatable table-condensed">
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Valor</th>
      </tr>

      <% @suites.each do |suite| %>
        <tr>
          <td><%= link_to suite.nome, suite_path(suite) %></td>
          <td><%= suite.descricao %></td>
          <td><%= suite.valor %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <div>
      <h4>Não existem suítes cadastradas para esse motel</h4>
    </div>
  <% end %>
</div>
