<h1>Editar Suite</h1>
<hr/>
<%= form_for(@suite) do |f| %>
  <% if @suite.errors.any? %>
    <div id="error_explanation">
      <h2>Não foi possível cadastrar suite</h2>
      <hr/>
      <ul>
        <% @suite.errors.messages.values.each do |msg| %>
          <li><%= msg[0] %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% end %>