<h2>Lista de motéis</h2>
<hr/>
<% if @moteis.empty? %>
  <p>Não existem motéis cadastrados</p>
<% else %>
  <div class="well">
    <table class="table table-striped table-bordered datatable">
      <tr>
        <th>Nome</th>
      </tr>

      <% @moteis.each do |motel| %>
        <tr>
          <td><%= link_to motel.nome, motel_path(motel) %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>

<hr />

<%= link_to 'Cadastrar Motel', new_motel_path, :class => 'btn btn-inverse btn-large' %>
