<p id="notice"><%= notice %></p>

<div>
  <h2><%= @motel.nome %></h2>
</div>
<hr/>

<%= render :partial => 'informacoes_motel' %>

<hr/>

<h3><a href="javascript:void(0)" id="link-vis-suites">Visualizar Suítes</a></h3>

<br/>
<div class="hide" id="listagem-de-suites">
  <%= render :partial => 'suites/lista_suites' %>
</div>

<hr/>